<template>
    <div class="actualizar-evento">
        <h3>Actualizando un evento</h3>
        <form id="actualizarEvento" name="actualizarEvento" v-bind:action="'http://localhost:3000/eventos/actualizar/'+idEvento" method="post" @submit="confirmar()">
            <label for="autor">Organizador: </label>
            <select v-model="idAutor" name="autor" id="autor" required>
                <option v-for="a in autores" v-bind:value="a._id" :key="a._id">{{a.nombre}}</option>
            </select><br/>
            <label for="titulo">Título del evento: </label><input v-model="titulo" type="input" id="titulo" name="titulo" required placeholder="Ingrese el título del evento..."><br/>
            <label for="descripcion">Descripción: </label><input v-model="descripcion" type="input" id="descripcion" name="descripcion" required placeholder="¿De qué tratará el evento?"><br/>
            <label for="ubicacion">Ubicación: </label><input v-model="ubicacion" type="input" id="ubicacion" name="ubicacion" required placeholder="¿En dónde será el evento?"><br/>
            <label for="hora">Hora: </label>
            <select v-model="hora" name="hora" id="hora" required>
                <option v-for="h in 24" :key="h">{{h-1}}:00 hrs.</option>
            </select><br/>
            <label for="fecha">Fecha: </label><input type="date" v-model="fecha" id="fecha" name="fecha" required>
            <button type="submit">Enviar</button> <button @click="cancelar()">Cancelar</button>
        </form>
    </div>
</template>

<script>
export default {
    name: "actualizarEvento",
    components:{},
    props:{
    },
    data: function(){
        return{
            idEvento: this.$route.params.id,
            autores: [],
            idAutor: "",
            titulo: "",
            descripcion: "",
            ubicacion: "",
            hora: "",
            fecha: "",
            objeto: ""
        }
    },
    created: function(){
        var vm = this;
        fetch("http://localhost:3000/autores", {method: "get"}).then(function(res){
            return res.json();
        }).then(function(info){
            vm.autores = info;
        });
        fetch("http://localhost:3000/eventos/"+vm.idEvento, {method: "get"}).then(function(res){
            return res.json();
        }).then(function(info){
            vm.idAutor = info[0].idAutor;
            vm.titulo = info[0].titulo;
            vm.descripcion = info[0].descripcion;
            vm.ubicacion = info[0].ubicacion;
            vm.hora = info[0].hora;
            vm.fecha = info[0].fecha;
        });
    },
    methods:{
        confirmar: function(){
            //var vm = this;
            let confirmacion = confirm("¿Seguro que quiere guardar estos cambios?");
            if(confirmacion){
                return confirmacion;
            }
            return false;
        },
        cancelar: function(){
            window.location.replace("/#/eventos");
        }
    }
}
</script>

<style scoped>

</style>