<template>
    <div class="actualizar-publicacion">
        <h3>Actualizando una publicación</h3>
        <form id="actualizarPublicacion" name="actualizarPublicacion" v-bind:action="'http://localhost:3000/publicaciones/actualizar/'+idPublicacion" method="post" @submit="confirmar()">
            <label for="autor">Autor: </label>
            <select v-model="idAutor" name="autor" id="autor" required>
                <option v-for="a in autores" v-bind:value="a._id" :key="a._id">{{a.nombre}}</option>
            </select><br/>
            <label for="titulo">Título de la publicacion: </label><input v-model="titulo" type="input" id="titulo" name="titulo" required placeholder="Ingrese el título de la publicación..."><br/>
            <label for="contenido">Contenido: </label><br/>
            <textarea v-model="contenido" id="contenido" name="contenido" required placeholder="Empiece a escribir su publicación..." rows="10" cols="50"></textarea><br/>
            <label for="fecha">Fecha: </label><input type="date" v-model="fecha" id="fecha" name="fecha" required><br/>
            <button type="submit">Enviar</button> <button type="button" @click="cancelar()">Cancelar</button>
        </form>
    </div>
</template>

<script>
export default {
    name: "actualizarPublicacion",
    components:{},
    props:{
    },
    data: function(){
        return{
            idPublicacion: this.$route.params.id,
            autores: [],
            idAutor: "",
            titulo: "",
            contenido: "",
            fecha: "",
            objeto: ""
        }
    },
    created: function(){
        var vm = this;
        fetch("http://localhost:3000/autores", {method: "get"}).then(function(res){
            return res.json();
        }).then(function(info){
            vm.autores = info;
        });
        fetch("http://localhost:3000/publicaciones/"+vm.idPublicacion, {method: "get"}).then(function(res){
            return res.json();
        }).then(function(info){
            vm.idAutor = info[0].idAutor;
            vm.titulo = info[0].titulo;
            vm.contenido = info[0].contenido;
            vm.fecha = info[0].fecha;
        });
    },
    methods:{
        confirmar: function(){
            //var vm = this;
            let confirmacion = confirm("¿Seguro que quiere guardar estos cambios?");
            if(confirmacion){
                return confirmacion;
            }
            return false;
        },
        cancelar: function(){
            window.location.replace("/#/publicaciones");
            return false
        }
    }
}
</script>

<style scoped>

</style>