<template>
    <div class="discusiones">
        <button type="button" @click="volver()">Volver</button>
        <button type="button" @click="nuevaDiscusion()">Nueva discusión</button>
        <Discusion v-for="discusion in discusiones" v-bind:discusion="discusion" v-bind:key="discusion._id"/>
    </div>
</template>

<script>
import Discusion from "../components/Discusion.vue"

export default {
    name: "Discusiones",
    components:{
        Discusion
    },
    data: function(){
        return{
            discusiones: []
        }
    },
    created: function(){
        var vm = this;
        fetch("http://localhost:3000/discusiones", {method:"get"}).then(function(res){
            return res.json();
        }).then(function(data){
            vm.discusiones = data;
        });
    },
    methods:{
        nuevaDiscusion: function(){
            window.location.replace("/#/discusiones/c/nuevo");
        },
        volver: function(){
            window.location.replace("/");
        }
    }
}
</script>

<style scoped>

</style>