<template>
    <div class="discusion">
        <button @click="volver()">Volver a las discusiones</button>
        <div v-if="editando">
            <form ref="actualizarPublicacion" name="actualizarPublicacion" id="actualizarPublicacion" method="post" v-bind:action="'http://localhost:3000/discusiones/actualizar/'+discusion._id">
                <input id=titulo name="titulo" type="text" v-model="discusion.titulo" required/><br/>
                <textarea id=mensaje name="mensaje" v-model="discusion.mensaje" required></textarea>
            </form>
        </div>
        <div v-else>
            <h3>{{discusion.titulo}}</h3>
            <p>{{discusion.mensaje}}</p>
            <p>Publicado por: {{autor.nombre}}, {{discusion.fecha}}</p>
        </div>
        <button type="button" @click="eliminar()">Eliminar</button>
        <button type="button" v-if="!editando" @click="actualizar()">Actualizar</button>
        <button v-else @click="guardarCambios()">Guardar cambios</button>
        <button type="button" v-if="editando" @click="cancelar()">Cancelar</button>
        <Respuesta v-for="respuesta in respuestas" v-bind:respuesta="respuesta" v-bind:key="respuesta._id" />
        <hr/>
        <form id="responder" name="responder" action="http://localhost:3000/respuestas/" method="post" @submit="confirmar()">
            <fieldset form="responder">
                <legend>Nueva respuesta</legend>
                <label for="titulo">Título: </label><input id="titulo" name="titulo" type="text" v-model="titulo" required size="50" placeholder="Ingrese el título de su respuesta..."/><br/>
                <label for="mensaje">Respuesta: </label><br/>
                <textarea id="mensaje" name="mensaje" v-model="mensaje" cols="56" required placeholder="..."></textarea><br/>
                <label for="idAutor">Autor: </label>
                <select v-model="idAutor" name="idAutor" id="idAutor" required>
                    <option v-for="a in autores" v-bind:value="a._id" :key="a._id">{{a.nombre}}</option>
                </select> 
                <input type="text" hidden v-model="fecha" name="fecha" id="fecha">
                <input type="text" hidden v-model="idDiscusion" name="idDiscusion" id="idDiscusion">
                <button type="submit">Enviar</button>
            </fieldset>
        </form>
    </div>
</template>

<script>
import Respuesta from "../components/Respuesta.vue"

export default {
    name: "Discusion",
    components: {
        Respuesta
    },
    data: function(){
        return {
            discusion: Object,
            idDiscusion: this.$route.params.id,
            respuestas: [],
            autor: Object,
            autores: [],
            titulo: "Re: ",
            mensaje: "",
            fecha: "",
            idAutor: "",
            editando: false
        }
    },
    created: function(){
        var vm = this;
        fetch("http://localhost:3000/discusiones/"+vm.idDiscusion, {method: "get"}).then(function(res){
            return res.json();
        }).then(function(data){
            vm.discusion = data[0];
            vm.titulo = vm.titulo + vm.discusion.titulo;
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;
            vm.fecha = today;
        });
        fetch("http://localhost:3000/respuestas/"+vm.idDiscusion, {method:"get"}).then(function(res){
            return res.json();
        }).then(function(data){
            vm.respuestas = data;
            console.log(vm.respuestas);
            fetch("http://localhost:3000/autores/"+vm.discusion.idAutor, {method: "get"}).then(function(res){
                return res.json();
            }).then(function(data){
                console.log("Autores: "+vm.discusion);
                vm.autor = data[0];
            });
        });
        
        fetch("http://localhost:3000/autores", {method: "get"}).then(function(res){
            return res.json();
        }).then(function(data){
            vm.autores = data;
        });
    },
    methods:{
        confirmar: function(){
            let confirmacion = confirm("¿Seguro que desea publicar esta respuesta?");
            if(confirmacion){
                return true;
            }
            return false;
        },
        volver:function(){
            window.location.replace("/#/discusiones");
        },
        eliminar: function(){
            let eliminar = confirm("¿Seguro que desea eliminar esta discusión?");
            if(eliminar){
                var vm = this;
                fetch("http://localhost:3000/discusiones/eliminar/"+vm.idDiscusion, {method:"post"}).then(function(res){
                    return res.json();
                }).then();
                window.location.replace("/#/discusiones");
            }
        },
        actualizar: function(){
            var vm = this;
            vm.editando = true;
        },
        confirmarActualizacion: function(){
            let confirmacion = confirm("¿Seguro que desea actualizar?");
            if(confirmacion){
                var vm = this;
                vm.editando = false;
                return true;
            }
            return false;
        },
        guardarCambios: function(){
            let confirmacion = confirm("¿Seguro que desea actualizar?");
            if(confirmacion){
                this.$refs.actualizarPublicacion.submit();
                var vm = this;
                vm.editando = false;
                return true;
            }
            return false;
            
        },
        cancelar:function(){
            var vm = this;
            vm.editando = false;
        }
    }
}
</script>

<style scoped>

</style>