<template>
    <div class="vista-evento">
        <h3>{{evento.titulo}}</h3>
        <p>Ubicación: {{evento.ubicacion}}</p>
        <p>Hora: {{evento.hora}}, el {{evento.fecha}}</p>
    </div>
</template>

<script>
export default {
    name:"Evento",
    props:{
    },
    data: function(){
        return {
            idEvento: this.$route.params.id,
            evento: Object
        }
    },
    created: function(){
        var vm = this;
        console.log(">>>>>>>>>>>>"+vm.idEvento);
        fetch("http://localhost:3000/eventos/"+vm.idEvento, {method:"get"}).then(function(res){
            return res.json();
        }).then(function(info){
            vm.evento = info[0];
        });
    }
}
</script>

<style scoped>

</style>