<template>
  <div class="eventos">
    <button type="button" @click="volver()">Volver</button>
    <button @click="enviarNuevo()">Nuevo evento</button>
    <Evento v-for="evento in eventos" :evento="evento" :key="evento._id"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Evento from '@/components/Evento.vue'

export default {
  name: 'Eventos',
  components: {
    Evento
  },
  data: function(){
      return {
          eventos: []
      }
  },
  created: function(){
    var vm = this;
    fetch("http://localhost:3000/eventos", {method: "get"}).then(function(res){
      return res.json();
    }).then(function(info){
      vm.eventos = info;
    });
  },
  methods:{
    enviarNuevo: function(){
      window.location.replace("/#/eventos/c/nuevo");
    },
    volver: function(){
            window.location.replace("/");
        }
  }
}
</script>