<template>
  <div class="home">
    <button type="button" @click="publicaciones()">Publicaciones</button>
    <button type="button" @click="eventos()">Eventos</button>
    <button type="button" @click="discusiones()">Discusiones</button>
    <UltimaPublicacion />
    <UltimaDiscusion />
    <UltimosEventos />
  </div>
</template>

<script>
// @ is an alias to /src
import UltimaPublicacion from "@/components/UltimaPublicacion.vue"
import UltimaDiscusion from "@/components/UltimaDiscusion.vue"
import UltimosEventos from "@/components/UltimosEventos";

export default {
  name: 'Home',
  components: {
    UltimaPublicacion,
    UltimaDiscusion,
    UltimosEventos
  },
  methods: {
    publicaciones: function(){
      window.location.replace("/#/publicaciones");
    },
    eventos: function(){
      window.location.replace("/#/eventos");
    },
    discusiones: function(){
      window.location.replace("/#/discusiones");
    }
  }
}
</script>
