<template>
    <div class="nueva-discusion">
        <h3>Escribir nueva discusión</h3>
        <form id="nuevaDiscusion" name="nuevaDiscusion" action="http://localhost:3000/discusiones" method="post" @submit="confirmar()">
            <label for="idAutor">Autor: </label>
            <select v-model="idAutor" name="idAutor" id="idAutor" required>
                <option v-for="a in autores" v-bind:value="a._id" :key="a._id">{{a.nombre}}</option>
            </select><br/>
            <label for="titulo">Título de la discusión: </label><input v-model="titulo" type="input" id="titulo" name="titulo" required placeholder="Ingrese el título de la discusión..."><br/>
            <label for="Mensaje">Mensaje: </label><br/><textarea v-model="mensaje" type="textarea" id="mensaje" name="mensaje" required placeholder="..." rows="10" cols="50"></textarea><br/>
            <input type="text" v-model="fecha" id="fecha" name="fecha" required hidden><br/>
            <button type="submit">Publicar discusión</button> <button @click="cancelar()">Cancelar</button>
        </form>
    </div>
</template>

<script>
export default {
    name: "nuevaPublicación",
    components:{},
    props:{

    },
    data: function(){
        return{
            autores: [],
            idAutor: "",
            titulo: "",
            mensaje: "",
            fecha: ""
        }
    },
    created: function(){
        var vm = this;
        fetch("http://localhost:3000/autores", {method: "get"}).then(function(res){
            return res.json();
        }).then(function(info){
            vm.autores = info;
            
        });
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        vm.fecha = today;
    },
    methods:{
        confirmar: function(){
            //var vm = this;
            let confirmacion = confirm("¿Seguro que quiere crear esta discusión?");
            if(confirmacion){
                return true;
            }
            return false;
        },
        cancelar: function(){
            window.location.replace("/#/discusiones");
        }
    }
}
</script>

<style scoped>

</style>