<template>
    <div class="nuevo-evento">
        <h3>Creando nuevo evento</h3>
        <form id="nuevoEvento" name="nuevoEvento" action="http://localhost:3000/eventos" method="post" @submit="confirmar()">
            <label for="idAutor">Organizador: </label>
            <select v-model="idAutor" name="idAutor" id="idAutor" required>
                <option v-for="a in autores" v-bind:value="a._id" :key="a._id">{{a.nombre}}</option>
            </select><br/>
            <label for="titulo">Título del evento: </label><input v-model="titulo" type="input" id="titulo" name="titulo" required placeholder="Ingrese el título del evento..."><br/>
            <label for="descripcion">Descripción: </label><input v-model="descripcion" type="input" id="descripcion" name="descripcion" required placeholder="¿De qué tratará el evento?"><br/>
            <label for="ubicacion">Ubicación: </label><input v-model="ubicacion" type="input" id="ubicacion" name="ubicacion" required placeholder="¿En dónde será el evento?"><br/>
            <label for="hora">Hora: </label>
            <select v-model="hora" name="hora" id="hora" required>
                <option v-for="h in 24" :key="h">{{h-1}}:00 hrs.</option>
            </select><br/>
            <label for="fecha">Fecha: </label><input type="date" v-model="fecha" id="fecha" name="fecha" required>
            <button type="submit">Enviar</button> <button @click="cancelar()">Cancelar</button>
        </form>
    </div>
</template>

<script>
export default {
    name: "nuevoEvento",
    components:{},
    props:{

    },
    data: function(){
        return{
            autores: [],
            idAutor: "",
            titulo: "",
            descripcion: "",
            ubicacion: "",
            hora: "",
            fecha: ""
        }
    },
    created: function(){
        var vm = this;
        fetch("http://localhost:3000/autores", {method: "get"}).then(function(res){
            return res.json();
        }).then(function(info){
            vm.autores = info;
        });
    },
    methods:{
        confirmar: function(){
            //var vm = this;
            let confirmacion = confirm("¿Seguro que quiere crear este evento?");
            if(confirmacion){
                return confirmacion;
            }
            return false;
        },
        cancelar: function(){
            window.location.replace("/#/eventos");
        }
    }
}
</script>

<style scoped>

</style>