<template>
    <div class="nueva-publicacion">
        <h3>Escribir nueva publicación</h3>
        <form id="nuevaPublicacion" name="nuevaPublicacion" action="http://localhost:3000/publicaciones" method="post" @submit="confirmar()">
            <label for="idAutor">Autor: </label>
            <select v-model="idAutor" name="idAutor" id="idAutor" required>
                <option v-for="a in autores" v-bind:value="a._id" :key="a._id">{{a.nombre}}</option>
            </select><br/>
            <label for="titulo">Título de la publicación: </label><input v-model="titulo" type="input" id="titulo" name="titulo" required placeholder="Ingrese el título de la publicación..."><br/>
            <label for="Contenido">Contenido: </label><br/><textarea v-model="contenido" type="textarea" id="contenido" name="contenido" required placeholder="Escriba su publicación aquí..." rows="10" cols="50"></textarea><br/>
            <label for="fecha">Fecha: </label><input type="date" v-model="fecha" id="fecha" name="fecha" required><br/>
            <button type="submit">Enviar</button> <button @click="cancelar()">Cancelar</button>
        </form>
    </div>
</template>

<script>
export default {
    name: "nuevaPublicación",
    components:{},
    props:{

    },
    data: function(){
        return{
            autores: [],
            idAutor: "",
            titulo: "",
            contenido: "",
            fecha: ""
        }
    },
    created: function(){
        var vm = this;
        fetch("http://localhost:3000/autores", {method: "get"}).then(function(res){
            return res.json();
        }).then(function(info){
            vm.autores = info;
        });
    },
    methods:{
        confirmar: function(){
            //var vm = this;
            let confirmacion = confirm("¿Seguro que quiere crear esta publicación?");
            if(confirmacion){
                return confirmacion;
            }
            return false;
        },
        cancelar: function(){
            window.location.replace("/#/publicaciones");
        }
    }
}
</script>

<style scoped>

</style>