<template>
    <div class="publicacion">
        <h3>{{publicacion.titulo}}</h3>
        <p>{{publicacion.contenido}}</p>
        <span>Publicado el {{publicacion.fecha}} por {{autor.nombre}}</span>
    </div>
</template>

<script>
export default {
    name:"Publicacion",
    props:{},
    components:{},
    data: function(){
        return {
            idPublicacion: this.$route.params.id,
            publicacion: Object,
            autor: Object
        }
    },
    created: function(){
        var vm = this;
        fetch("http://localhost:3000/publicaciones/"+vm.idPublicacion, {method:"get"}).then(function(res){
            return res.json();
        }).then(function(data){
            vm.publicacion = data[0];
            fetch("http://localhost:3000/autores/"+vm.publicacion.idAutor, {method:"get"}).then(function(res){
                return res.json();
            }).then(function(data){
                vm.autor = data[0];
            });
        });
    }
}
</script>

<style scoped>

</style>