<template>
    <div class="publicaciones">
        <button type="button" @click="volver()">Volver</button>
        <button @click="nuevaPublicacion()">Nueva publicación</button>
        <Publicacion v-for="publicacion in publicaciones" v-bind:publicacion="publicacion" v-bind:key="publicacion._id"/>
    </div>
</template>

<script>
import Publicacion from "../components/Publicacion.vue";

export default {
    name: "Publicaciones",
    components:{
        Publicacion
    },
    props:{

    },
    data: function(){
        return {
            publicaciones: []
        }
    },
    created: function(){
        var vm = this;
        fetch("http://localhost:3000/publicaciones", {method:"get"}).then(function(res){
            return res.json();
            
        }).then(function(data){
            vm.publicaciones = data;
            console.log(vm.publicaciones)
        });
    },
    methods:{
        nuevaPublicacion: function(){
            window.location.replace('/#/publicaciones/c/nuevo')
        },
        volver: function(){
            window.location.replace("/");
        }
    }
}
</script>

<style scoped>

</style>