<template>
    <div class="discusion">
        <h3><a v-bind:href="'http://localhost:8080/#/discusiones/'+discusion._id">{{discusion.titulo}}</a></h3>
        <p>{{discusion.mensaje}}</p>
        <p>Escrito por: {{autor.nombre}}, {{discusion.fecha}}</p>
    </div>
</template>

<script>
export default {
    name:"Discusion",
    props:{
        discusion: Object
    },
    data: function(){
        return{
            autor: Object
        }
    },
    created: function(){
        var vm = this;
        fetch("http://localhost:3000/autores/"+vm.discusion.idAutor, {method: "get"}).then(function(res){
            return res.json();
        }).then(function(data){
            vm.autor = data[0];
        });
    },
    methods:{
        eliminar: function(){

        }
    }
}
</script>

<style scoped>

</style>