<template>
    <div class="evento">
        <h3><router-link :to="{path:'/eventos/'+evento._id}">{{evento.titulo}}</router-link></h3>
        <p>Ubicación: {{evento.ubicacion}}</p>
        <p>Hora: {{evento.hora}}, el {{evento.fecha}}</p>
        <button v-on:click="eliminar()">Eliminar</button> <button @click="actualizar()">Actualizar</button>
    </div>
</template>

<script>
export default {
    name:"Evento",
    props:{
        evento: Object
    },
    data: function(){
        return {
            autor: ""
        }
    },
    created: function(){
        
    },
    methods:{
        eliminar: function(){
            var vm = this;
            let confirmacion = confirm("¿Seguro que desea eliminar este evento?");
                if(confirmacion){
                    fetch("http://localhost:3000/eventos/eliminar/"+vm.evento._id, {method:"post"}).then(function(res){
                        return res.json();
                    }).then(function(){
                    });
                    window.location.reload(true);
                }
            },
        actualizar: function(){
            var vm = this;
            window.location.replace("/#/eventos/r/actualizar/"+vm.evento._id);
        }
    }
}
</script>

<style scoped>

</style>