<template>
    <div class="publicacion">
        <h3><a v-bind:href="'http://localhost:8080/#/publicaciones/'+publicacion._id">{{publicacion.titulo}}</a></h3>
        <p>{{publicacion.contenido}}</p>
        <p>Publicado el {{publicacion.fecha}} por {{autor.nombre}}</p>
        <button @click="eliminar()">Eliminar</button> <button @click="actualizar()">Actualizar</button>
    </div>
</template>

<script>
export default {
    name: "Publicacion",
    props: {
        publicacion: Object
    },
    data: function(){
        return{
            autor: ""
        }
    },
    created: function(){
        var vm = this;
        fetch("http://localhost:3000/autores/"+vm.publicacion.idAutor, {method:"get"}).then(function(res){
            return res.json();
        }).then(function(data){
            vm.autor = data[0];
        });
    },
    methods:{
        eliminar: function(){
            var vm = this;  
            let confirmacion = confirm("¿Seguro que desea eliminar esta publicación?");
            if(confirmacion){
                fetch("http://localhost:3000/publicaciones/eliminar/"+vm.publicacion._id, {method: "post"}).then(function(res){
                    return res.json();
                }).then(function(){
                    
                });
                window.location.reload(true);
            }
        },
        actualizar: function(){
            var vm = this;
            window.location.replace("/#/publicaciones/r/actualizar/"+vm.publicacion._id);
        }
    }
}
</script>

<style>

</style>