<template>
    <div class="respuestaa">
        <div v-if="editando">
            <form ref="actualizarRespuesta" name="actualizarRespuesta" id="actualizarRespuesta" method="post" v-bind:action="'http://localhost:3000/respuestas/actualizar/'+respuesta._id">
                <input id=titulo name="titulo" type="text" v-model="respuesta.titulo" required/><br/>
                <textarea id=mensaje name="mensaje" v-model="respuesta.mensaje" required></textarea>
            </form>
        </div>
        <div v-else>
            <h4>{{respuesta.titulo}}</h4>
            <p>{{respuesta.mensaje}}</p>
            <p>Escrito por: {{autor.nombre}}, {{respuesta.fecha}}</p>
        </div>
        <button type="button" @click="eliminar()">Eliminar</button>
        <button type="button" v-if="!editando" @click="actualizar()">Actualizar</button>
        <button type="button" v-if="editando" @click="guardarCambios()">Guardar cambios</button>
        <button type="button" v-if="editando" @click="cancelar()">Cancelar</button>
    </div>
</template>

<script>
export default {
    name:"Respuesta",
    components:{

    },
    props:{
        respuesta: Object
    },
    data: function(){
        return {
            autor: Object,
            editando: false
        }
    },
    created: function(){
        var vm = this;
        fetch("http://localhost:3000/autores/"+vm.respuesta.idAutor, {method: "get"}).then(function(res){
            return res.json();
        }).then(function(data){
            vm.autor = data[0];
        });
    },
    methods:{
        actualizar: function(){
            var vm = this;
            vm.editando = true;
        },
        cancelar: function(){
            var vm = this;
            vm.editando = false;
        },
        eliminar: function(){
            let eliminar = confirm("¿Seguro que desea eliminar esta respuesta?");
            if(eliminar){
                var vm = this;
                fetch("http://localhost:3000/respuestas/eliminar/"+vm.respuesta._id, {method:"post"}).then(function(res){
                    return res.json();
                }).then();
                window.location.reload(true);
            }
        },
        guardarCambios:function(){
            let confirmacion = confirm("¿Seguro que desea actualizar?");
            if(confirmacion){
                this.$refs.actualizarRespuesta.submit();
                var vm = this;
                vm.editando = false;
                return true;
            }
            return false;
        }
    }
}
</script>

<style>

</style>