<template>
    <div class="ultimos-eventos">
        <h3>Últimos eventos</h3>
        <div class="eventos">
            <div v-for="evento in eventos" v-bind:key="evento._id">
                <h4><router-link :to="{path:'/eventos/'+evento._id}">{{evento.titulo}}</router-link></h4>
                <p>
                    {{evento.ubicacion}}<br/>
                    Hora: {{evento.hora}}, {{evento.fecha}}
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "UltimosEventos",
    props:{},
    data: function(){
        return {
            eventos: []
        }
    },
    created: function(){
        var vm = this
        fetch("http://localhost:3000/eventos/ultimo", {method: "get"}).then(function(res){
            return res.json();
        }).then(function(info){
            vm.eventos = info;
        });
    }
}
</script>

<style scoped>
</style>