<template>
    <div class="ultima-publicacion">
        <h3>{{publicacion[0].titulo}}</h3>
        <p>Autor: {{autor[0].nombre}} - Fecha: {{publicacion[0].fecha}}</p>
        <p>{{publicacion[0].contenido}}</p>
    </div>
</template>

<script>
export default {
    name: "UltimaPublicacion",
    props:{},
    data: function(){
        return {
            publicacion: [],
            autor: []
        }
    },
    created: function(){
        var vm = this
        fetch("http://localhost:3000/publicaciones/ultimo", {method: "get"}).then(function(res){
            return res.json();
        }).then(function(info){
            vm.publicacion = info;
            fetch("http://localhost:3000/autores/"+info[0].idAutor, {method: "get"}).then(function(res){
                return res.json();
            }).then(function(info){
                vm.autor = info;
            });
        });
    }
}
</script>

<style scoped>
</style>